<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>UNLa</title>
<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="/css/modern-business.css" rel="stylesheet" />
<style>
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   /* Height of the footer */
   background:#343a40;
}
</style>
</head>
<body>
	<!-- Navigation -->
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Inicio</a>
			<button aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation"
				class="navbar-toggler navbar-toggler-right"
				data-target="#navbarResponsive" data-toggle="collapse" type="button"></button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<!-- Desplegable -->
					<li class="nav-item dropdown"><a aria-expanded="false"
						aria-haspopup="true" class="nav-link dropdown-toggle"
						data-toggle="dropdown" href="#" id="navbarDropdownBlog">Sesion</a>
						<div aria-labelledby="navbarDropdownBlog"
							class="dropdown-menu dropdown-menu-right">
							<form th:action="@{/logout}" method="post">
								<input class="dropdown-item" style="cursor: pointer"
									type="submit" value="Logout" />
							</form>
							<!-- <a class="dropdown-item" href="example.html">Example</a><a class="dropdown-item" href="example2.html">Example 2</a> -->
						</div></li>

				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="card shadow-lg border-100 rounded-lg mt-5">
						<div class="card-header">
							<h3 class="text-center font-weight-light my-4">Lista de perfiles activos</h3>
						</div>
						<div class="card-body">
							<table>
								<thead>
									<tr>
										<th>Descripcion</th>
										<div sec:authorize="hasRole('ROLE_ADMIN')">
										<th>Modificar</th>
										</div>
										<div sec:authorize="hasRole('ROLE_ADMIN')">
										<th>Eliminar</th>
										</div>
									</tr>
								</thead>
								<tbody>
									<tr th:each="perfil : ${perfiles}">
										<td><span th:text="${perfil.tipoPerfil}"></span></td>
										<div sec:authorize="hasRole('ROLE_ADMIN')">
										<td><a th:href="@{modificarPerfil/}+${perfil.idPerfil}"	class="btn-modify">Modificar</a></td>
										</div>
										<div sec:authorize="hasRole('ROLE_ADMIN')">
										<td><a th:href="@{eliminarPerfil/}+${perfil.idPerfil}"class="btn-delete">Eliminar</a></td>
										</div>
									</tr>
								</tbody>
							</table>
						<div align="center" style = "position:relative; left:0px; top:15px;">
        				<a th:href="@{pdfPerfil}"class="btn-modify">Descargar PDF</a>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>

	<!-- /.container -->
	<!-- Footer -->
	<div id="footer">
	<div class="m-0 text-center text-white">
	<br>Copyright &copy;Grupo 3
                Objetos 2 2021
                  </div>
       </div>
	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
</body>
</html>